GEMINI_API_KEY=هنا_تحط_مفتاحك
GEMINI_API_KEY_2=هنا_تحط_مفتاحك_الثاني
GEMINI_API_KEY_3=هنا_تحط_مفتاحك_الثالث
SUPABASE_URL=هنا_رابط_مشروع_Supabase
SUPABASE_SERVICE_ROLE_KEY=هنا_مفتاح_service_role_السري
